<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
<style>
ul {
  list-style-type: none;
}
</style>
  <title>list demo</title>
</head>
<body>
  <div id="order-list"></div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
  <script>
    var orderList = [
        '100004782', '100004783', '100004785 combined with 100004781', '100004784',
        '100004786', '100004787', '100004788', '100004789', '100004790', '100004792',
        '100004791', '100004793', '100004794', '100004795', '100004796',
    ];
    var listView = Vue.component('list-view', {
     template: `
      <div>
        <input
          v-model="filter"
          type="text"></input>
        <ul>
          <li v-for="item in filteredList">{{item.index}}. {{item.order}}</li>
        </ul>
      </div>
      `,
      data() {
        return {
            list: orderList,
            filter: '',
        };
      },
      computed: {
        filteredList() {
            var orderedList = this.list.map((order, i) => {
              return { index: i, order };
            });
            var myFilter = (i) => i;
            if (this.filter !== '') {
              myFilter = (i) => i.order.includes(this.filter);
            }
            return orderedList.filter(myFilter);
        }
      }
    });
    new Vue({
      el: '#order-list',
      template: '<div><listView></listView></div>',
      components: { listView }
    });
  </script>

</body>
</html>
